    @import
    url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
    @import
    url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
    @import
    url(https://coolors.co/874000-248232-deba6f-161b33-202030);
    


    /*This section is for the top of the page*/
header {
    background-color: rgb(108, 127, 112);
    display: grid;
    grid-template-columns: 150px auto;
    grid-column: 1/4;
}
nav {
    text-align: center;
    color: rgb(22, 22, 22);
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
nav a {
    display: block;
    padding: 15px;
}
nav :hover {
    background-color: rgb(47, 58, 111);
    color: rgb(241, 235, 235);
}
.logo{
    width: 85px; 
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(236, 227, 227);
    font-family: 'Neuton','Joan';
}
main section{
    text-align: center;
}
#hero, .home-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    display: block;
    height: auto;
   
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}
#hero-msg h1 {
text-align: center;
color: rgb(0, 0, 0);
font-family: 'Rubik Dirt';
font-size: 2em;
margin-top: 10px;
}
#hero-msg h4 {
    text-align: center;
    color: rgb(85, 79, 79);
}
#rafting-img{
    width: 100%;
    
}
.msg {
    background-color: rgb(108, 127, 112);
    line-height: 1.5em;
    grid-column: 1/2;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #6f7364;
    padding: 35px;
    width: 80%;
    display: grid;
    margin: 0 auto;
    
}
.msg h2{color: rgb(255, 255, 255);
    margin: 0;
    padding: 35px;
}
.msg p {color: rgb(255, 255, 255);
    font-size: 0.8em;
    padding-bottom: 15px;
}
.button-box {
    text-align: center;
}

/*This section is for explain area of the page*/
#background {
    height: 725px;
    background-color: rgb(215, 183, 118);
    grid-row: 3/4;
    grid-column: 1/4;
}

.book, .join {
   background-color: rgba(215, 183, 118);
   color: rgb(75, 95, 71);
   text-decoration: none;
   text-align: center;
   font-size: 1.2em;
   padding: 15px 30px;
   margin-top: 50px;
   border-radius: 5px;
   border: 1px solid rgb(15, 15, 15);
}
.book:hover, .join:hover{
    background-color: rgb(38, 57, 142);
    color: rgb(255, 255, 255);
}
.mountains {
    grid-column: 2/4;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #6f7364;
    width: 80%;
    display: grid;
    margin: 40px auto;
    border-radius: 5px;
    border: 2px solid rgb(15, 15, 15);
}

/*These are the linked buttons*/
.card-img{
    border: 10px solid rgb(215, 183, 118);
}
main section img{
    box-sizing: border-box;
}
.icon{
    width: 75px;
    padding-top: 10px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
}
.card-img{
    border: 10px solid rgb(215, 183, 118);
    transition: transform .5s;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 200px;
    gap: 10px;
}
    
.rivers-card{
    grid-column: 1/2;
    margin: 50px 20px auto;
    width: 60%;
    
}
.rapids-card {
    grid-column: 3/4;
    margin: 50px 20px auto;
    width: 60%;
}
.camping-card {
   grid-column: 2/3;
    margin: 50px 20px auto;
    width: 60%;
}

/*This the footer's contents*/
footer {
    background-color: rgb(108, 127, 112);
    color: rgb(255, 255, 255);
    padding: 25px 50px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
footer a{color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a :hover{color: rgb(0, 0, 0);
}
footer p {
    font-size: 1.1em;

} 
footer a p:hover {
    text-decoration: underline;
}
