body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
main section{
    text-align: center;
}
header {
    background-color: rgb(108, 127, 112);
}
footer {
    background-color: rgb(108, 127, 112);
    color: rgb(255, 255, 255);
}
footer a{color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a :hover{color: rgb(0, 0, 0);
}
footer p {
    font-size: 1.1em;
} 
footer a p:hover {
    text-decoration: underline;
}
   
nav a{
    text-align: center;
    color: rgb(52, 22, 185);
    text-decoration: none;
}
nav a :hover {
    background-color: rgb(133, 89, 23);
    color: rgb(111, 101, 47);
}
.logo{
    width: 85px;
}
.icon{
    width: 75px;
}

#rafting-img{
    width: 100%;
    
}

#hero-msg h1 {
    text-align: center;
color: rgb(0, 0, 0);
}
#hero-msg h4 {
    text-align: center;
    color: rgb(0, 0, 0);
}
.msg {
    background-color: rgb(108, 127, 112);
}
.msg h2{color: rgb(255, 255, 255);
}
.msg p {color: rgb(255, 255, 255);
}
.button-box {
    text-align: center;
}


#background {
    height: 725px;
    background-color: rgb(213, 182, 119);
}

.book h1 {background-color: rgb(108, 127, 112);
   color: rgb(29, 28, 28);
   text-decoration: none;
   text-align: center;
}
.book:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.join {
    background-color: rgb(235, 213, 169);
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.join:hover {
    background-color: rgb(29, 35, 56);
    color: rgb(156, 136, 24);
}
















